// Color Settings
$background-color: #ECEEF0;
$text-color: #444444;
$secondary-text-color: #304163;
$accent-color: #516C8D;
$secondary-accent-color: #516C8D;
$highlight-color: RGBA(81, 108, 141, 0.5);

// Font Family
$font-family: "Lato", "Helvetica Neue", "Arial", sans-serif;
